<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-item>
    <ion-input class="ion-justify-content-center" type="tel" lang="pt-PT" placeholder="this is ion-input type tel">

    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input class="ion-justify-content-center" type="number" lang="pt-PT" placeholder="this is ion-input type number">

    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input class="ion-justify-content-center" inputmode="tel" lang="pt-PT" placeholder="this is ion-input inputmode tel">

    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input class="ion-justify-content-center" inputmode="decimal" lang="pt-PT" placeholder="this is ion-input inputmode decimal">

    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input class="ion-justify-content-center" inputmode="numeric" lang="pt-PT" placeholder="this is ion-input inputmode numeric">

    </ion-input>
  </ion-item>
<ion-item>

  <input class="ion-justify-content-center" type="tel" lang="pt-PT" placeholder="this is input type tel">
</ion-item>

<ion-item>
  <input class="ion-justify-content-center" type="number" lang="pt-PT" placeholder="this is input type number">

</ion-item>

<ion-item>
  <input class="ion-justify-content-center" inputmode="tel" lang="pt-PT" placeholder="this is inputmode tel">

</ion-item>

<ion-item>
  <input class="ion-justify-content-center" inputmode="decimal" lang="pt-PT" placeholder="this is inputmode decimal">

</ion-item>

<ion-item>
  <input class="ion-justify-content-center" inputmode="numeric" lang="pt-PT" placeholder="this is inputmode numeric">

</ion-item>

</ion-content>
